<article class="sobre wow animate__animated animate__fadeInUp">
    <div class="site">
        <div>
            <h2>Sobre mim</h2>
        </div>
        <div>
            <div class="ftexto">
                <img src="../img/camila.svg" alt="Foto da professora">
                <p>Comecei a estudar inglês aos 6 anos e fiz cursos até os 17. Desde então, dou aulas de inglês
                    há 24 anos, começando em 1999. Aprendi o idioma no Brasil, cursei Letras de 2009 a 2013 e
                    fiz meu intercâmbio em Londres aos 25 anos, embora já soubesse falar inglês antes de ir.</p>
            </div>
        </div>
        <div class="dados">
            <div>
                <h4>{{totalAlunos}}</h4>
                <p>Alunos Matriculados</p>
            </div>
            <div>
                <h4>35</h4>
                <p>Atividades Completas</p>
            </div>
            <div>
                <h4>100%</h4>
                <p>Satisfação dos alunos</p>
            </div>
        </div>
    </div>
</article>