<!--Cabeçalho-->
{{>topo}}

<!-- subtitulo -->
{{>subtitulo}}

<main>
    <!--Agendamento Banner-->
    {{>banner}}

    <!--Informações-->
    {{>info}}

    <!--Sobre-->
    {{>sobre}}
</main>

<!--Rodapé-->
{{>rodape}}