<section class="section-login">
    <div>
        <a href="/">Voltar</a>
    </div>
    <div class="login-card">
        <form action="/login" method="POST"> <!-- Especificando o método POST -->
            <div class="login-content">
                <img src="/img/logo.svg" alt="Logo Teacher Camila">
                <h4>Login</h4>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="example@email.com" required>
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="123456" required>
                <input type="submit" value="Entrar">
            </div>
        </form>
    </div>
</section>